body{
    margin:0;
    font-family:Arial;
}

nav{
    background:#222;
    color:white;
    padding:15px;
}

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px;
}

input{
    padding:10px;
}

button{
    padding:10px;
}

@media(max-width:768px){
    .hero{
        padding:20px;
    }
}
